---
layout: default
---

{% assign cacheBust = site.time | date:'?v=%s' %}
<script src="{{ site.baseurl }}/js/randomtag.js{{ cacheBust }}"></script>

<article class="page">

  {% unless page.hidetitle %}<h1>{{ page.title }}</h1> {% endunless %}

  <div class="entry">
    {{ content }}
  </div>

  <div class="sourcing">
    <hr>
    <i>tags:</i> {% for tag in page.tags %}<a href="#" class="randomTag" data-tag="{{ tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %} (click tags for another random page with that tag!)<br/>
    <i>posted:</i>
    {{ page.creation_date | date: "%B %e, %Y %H:%M:%S %Z" }} UTC<br/>
    <i>last updated:</i>
    {{ page.last_updated | date: "%B %e, %Y %H:%M:%S %Z" }} UTC<br/>
    <i>source threads:</i>
    {% for source in page.sources %}
    <a href="https://twitter.com/selflathing/status/{{ source }}">{{ source }}</a>
    {% endfor %}<br/>    
  </div>
</article>
